<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @companyprofile.Company_name %>
</p>

<p>
  <b>Owner name:</b>
  <%= @companyprofile.Owner_name %>
</p>

<p>
  <b>Address:</b>
  <%= @companyprofile.Address %>
</p>

<p>
  <b>Company status:</b>
  <%= @companyprofile.Company_status %>
</p>

<p>
  <b>Date of establishment:</b>
  <%= @companyprofile.Date_of_Establishment %>
</p>

<p>
  <b>Factory space status:</b>
  <%= @companyprofile.Factory_space_status %>
</p>

<p>
  <b>Telephone no:</b>
  <%= @companyprofile.Telephone_No %>
</p>

<p>
  <b>Fax no:</b>
  <%= @companyprofile.Fax_No %>
</p>

<p>
  <b>E mail:</b>
  <%= @companyprofile.E_Mail %>
</p>

<p>
  <b>Contact person:</b>
  <%= @companyprofile.Contact_Person %>
</p>

<p>
  <b>Cell no:</b>
  <%= @companyprofile.Cell_no %>
</p>

<p>
  <b>Nature of business:</b>
  <%= @companyprofile.Nature_of_Business %>
</p>

<p>
  <b>Local sales tax:</b>
  <%= @companyprofile.Local_sales_tax %>
</p>

<p>
  <b>Central sales tax:</b>
  <%= @companyprofile.Central_sales_tax %>
</p>

<p>
  <b>Tin no:</b>
  <%= @companyprofile.TIN_No %>
</p>

<p>
  <b>Central excise:</b>
  <%= @companyprofile.Central_excise %>
</p>

<p>
  <b>Income tax pa no:</b>
  <%= @companyprofile.Income_tax_PA_No %>
</p>

<p>
  <b>No of employee:</b>
  <%= @companyprofile.No_of_Employee %>
</p>

<p>
  <b>Branches address:</b>
  <%= @companyprofile.Branches_Address %>
</p>

<p>
  <b>Turnover past3year:</b>
  <%= @companyprofile.Turnover_past3year %>
</p>

<p>
  <b>Bankersandaddress:</b>
  <%= @companyprofile.BankersandAddress %>
</p>

<p>
  <b>Bank account no:</b>
  <%= @companyprofile.Bank_Account_No %>
</p>

<p>
  <b>Our manufacturer:</b>
  <%= @companyprofile.Our_Manufacturer %>
</p>

<p>
  <b>Our major customer:</b>
  <%= @companyprofile.Our_Major_Customer %>
</p>


<%= link_to 'Edit', edit_companyprofile_path(@companyprofile) %> |
<%= link_to 'Back', companyprofiles_path %>
