<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @company_profile.Company_name %>
</p>

<p>
  <b>Owner name:</b>
  <%= @company_profile.Owner_name %>
</p>

<p>
  <b>Address:</b>
  <%= @company_profile.Address %>
</p>

<p>
  <b>Company status:</b>
  <%= @company_profile.Company_status %>
</p>

<p>
  <b>Date of establishment:</b>
  <%= @company_profile.Date_of_Establishment %>
</p>

<p>
  <b>Factory space status:</b>
  <%= @company_profile.Factory_space_status %>
</p>

<p>
  <b>Telephone no:</b>
  <%= @company_profile.Telephone_No %>
</p>

<p>
  <b>Fax no:</b>
  <%= @company_profile.Fax_No %>
</p>

<p>
  <b>E-mail:</b>
  <%= @company_profile.E-Mail %>
</p>

<p>
  <b>Contact person:</b>
  <%= @company_profile.Contact_Person %>
</p>

<p>
  <b>Cell no:</b>
  <%= @company_profile.Cell_no %>
</p>

<p>
  <b>Nature of business:</b>
  <%= @company_profile.Nature_of_Business %>
</p>

<p>
  <b>Local sales tax:</b>
  <%= @company_profile.Local_sales_tax %>
</p>

<p>
  <b>Central sales tax:</b>
  <%= @company_profile.Central_sales_tax %>
</p>

<p>
  <b>Tin no:</b>
  <%= @company_profile.TIN_No %>
</p>

<p>
  <b>Central excise:</b>
  <%= @company_profile.Central_excise %>
</p>

<p>
  <b>Income tax pa no:</b>
  <%= @company_profile.Income_tax_PA_No %>
</p>

<p>
  <b>No of employees:</b>
  <%= @company_profile.No_of_Employees %>
</p>

<p>
  <b>Branches address:</b>
  <%= @company_profile.Branches_Address %>
</p>

<p>
  <b>Turnover past3year:</b>
  <%= @company_profile.Turnover_past3year %>
</p>

<p>
  <b>Bankersandaddress:</b>
  <%= @company_profile.BankersandAddress %>
</p>

<p>
  <b>Bank account no:</b>
  <%= @company_profile.Bank_Account_No %>
</p>

<p>
  <b>Our manufacturers:</b>
  <%= @company_profile.Our_Manufacturers %>
</p>

<p>
  <b>Our major customers:</b>
  <%= @company_profile.Our_Major_Customers %>
</p>


<%= link_to 'Edit', edit_company_profile_path(@company_profile) %> |
<%= link_to 'Back', company_profiles_path %>
